/* Estilo geral para a página */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}


/* Ajustar propriedades do nav */
header{
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    z-index: 10;
  }
  nav{
      height: 100px;
      width: 100%;
      background-color: rgb(0, 0, 0);
      display: flex; /* Layout flexível que se ajusta em linhas e colunas, preenchendo todo o espaço disponível */
      align-items: center; /* Centraliza objetos no meio */
      justify-content: space-between; /* Distancia objetos proporcionalmente */
      
  }
  label.logo{
      color: white;
      font-size: 40px;
      margin-left: 40px;
      width: 220px;
      float: left;
  }
  nav ul{
      float: right;
      margin-right: 40px;
      
  }
  nav ul li{
      display: inline-block; /* Organiza o conteúdo dos links em linha e em blocos, podendo alterar distância entre eles */
      margin: 0 40px;
  }
  nav ul li a{
      color: white;
      font-weight: normal;
      font-size: 25px;
  }
  nav ul li a:hover{ /* Hover acontece quando o mouse é passado em cima */
      color: red;
      transition: .6s; /* Leva 0.6 segundo para transiocionar para vermelho */
      cursor: pointer; /* Troca o cursor para pointer, indicando que é possível clicar */
  }
  
  
  /* Aba de navegação, criei para quando a tela ficar menor, podendo ajustar o conteudo da navbar */
  
  .checkbtn{ /* Contém as FA BARS importadas de um script */
      font-size: 40px;
      float: right;
      color: white;
      line-height: 80px;
      margin-top: 5px;
      margin-right: 50px;
      cursor: pointer;
      display: none; /* Não aparecem por default, habilito ela após x pixels */
  }
  #check{
      display: none; /* Desabilito sempre a checkbox, a função dela ja está inclusa nas FA BARS */
  }
  @media (max-width:1000px) {
    body{
        background: rgb(20, 20, 20);
    }
    .checkbtn{
        display: inline;
    }

    nav ul{
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        transition: all .6s;
        text-align: center;
        padding-top: 40px ;
    }
    nav ul li{
        display:block;
        padding-top: 30px;
    }
    nav ul li a{
        font-size: 40px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    img{
      height: auto;
      max-height: 500px;
    }
}


/* Estilo para o título da página */
h1 {
    font-size: 26px;
}

/* Container para os filmes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaço uniforme entre os filmes */
    align-content: flex-start; /* Alinhar no início da linha */

    
    
}

/* Estilo para cada filme */
.filme {
    max-width: calc(100% - 2cm);
    background-color: black;
    margin: 1.5cm; /* Espaçamento entre os filmes (3 cm) */
    padding: 0; /* Remova o preenchimento */
    border: 1px solid red;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;/* Inclui margem e padding na largura */
    color: red;
    font-family: 'Roboto'; /* Mesma fonte do resto do site */

}

/* Estilo para a imagem do filme */
.filme img {
    width: 100% auto;
    height: 100% auto;
    object-fit: cover;
    border: 2px solid #333;

}


.filme:hover {
    transform: scale(1.05);
}

/* Estilo para o título do filme */
.filme h2 {
    font-size: 18px;
    margin-top: 10px;
}

/* Estilo para a descrição do filme */
.filme p {
    font-size: 14px;
    margin-top: 10px;
}

/* Estilo para o link de compra de ingressos */
.filme a {
    display: block;
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.filme a:hover {
    background-color: red;
}

/* Estilo para a imagem do filme com o tamanho da imagem de exemplo */
.filme img {
    width: 300px; /* Largura desejada */
    height: 450px; /* Altura desejada */
    border: 2px solid #333;
}

/* Crie uma grade com 3 colunas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    gap: 20px; /* Espaço entre as colunas */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    /* Defina aqui os estilos específicos para dispositivos móveis */
    body {
        font-size: 16px; /* Tamanho de fonte menor para telas menores */
    }

    .container {
        flex-direction: column; /* Alinhar os filmes verticalmente */
    }

    .filme {
        max-width: 100%; /* Largura máxima de 100% para ocupar toda a largura da tela */
        margin: 1rem 0; /* Espaçamento entre os filmes para dispositivos móveis */
    }

    .filme img {
        width: 100%; /* Imagens ocupam 100% da largura do contêiner */
        height: auto;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas com largura igual para dispositivos menores */
        gap: 10px; /* Espaço menor entre as colunas para dispositivos menores */
    }

    .filme a {
        padding: 8px 16px; /* Reduza o preenchimento para dispositivos menores */
        font-size: 14px; /* Reduza o tamanho da fonte para dispositivos menores */
    }

    /* Adicione mais estilos específicos para dispositivos móveis conforme necessário */
}






   
